Support user-defined challenge Accept payload

After a discussion on the ACME mailing list regarding RFC 8555, Section 7.5.1 "Responding to Challenges", I gained clarity that an empty response is not a strict requirement, and was pointed to [acme-onion](https://datatracker.ietf.org/doc/draft-ietf-acme-onion/) as an example.

I'm supporting device attestations, including acme-[device-attest](https://datatracker.ietf.org/doc/draft-acme-device-attest/) and a couple of custom challenge types which need the ability to submit a payload instead of an empty object.

This PR allows clients using this library to support such use cases.